:root {
  --heading-size: 70px;
  --heading-color: #f4c7ab;
  --heading-weight: 700;
  --heading-variant: small-caps;
  --btn-font: "Roboto", sans-serif;
}

/**START**/

.begin,
.theme,
.difficulty,
.amount,
.start {
  min-height: 100vh;
}

.begin-title,
.start-title {
  color: #ffffff !important;
}

.begin-title,
.theme-name,
.difficulty-name,
.amount-name,
.start-title {
  text-align: center;
  padding-block: 12vh;
  color: var(--heading-color);
  font-size: var(--heading-size);
  font-weight: var(--heading-weight);
  font-variant: var(--heading-variant);
}

.begin-btn-group,
.theme-btn-group,
.difficulty-btn-group,
.amount-btn-group,
.start-btn-group {
  display: flex;
  justify-content: space-evenly;
  margin-top: 5vh;
}

.begin-btn,
.theme-btn,
.difficulty-btn,
.amount-btn,
.start-btn {
  margin-inline: 50px;
  padding: 35px 55px !important;
  border-radius: 5px !important;
  font-family: var(--btn-font);
  font-variant: small-caps;
  letter-spacing: 0.2rem;
  font-weight: var(--heading-weight);
}

.begin-btn {
  margin-top: 5vh;
  padding: 35px !important;
}

/**ANIMATIONS**/

.begin-btn-pulsate {
  -webkit-animation: begin-btn-pulsate 1.5s ease-in-out infinite both;
  animation: begin-btn-pulsate 1.5s ease-in-out infinite both;
}

@-webkit-keyframes begin-btn-pulsate {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes begin-btn-pulsate {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.start-title {
  animation: glow 2s ease-in-out infinite;
}

@keyframes glow {
  from {
    text-shadow: 0 0 20px #2d9da9;
  }
  to {
    text-shadow: 0 0 30px #34b3c1, 0 0 10px #4dbbc7;
  }
}

/**GAME**/

.loading-screen,
.game-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loading-icon {
  height: 4em;
  width: auto;
}

.score-container {
  position: absolute;
  right: 0;
}

.score {
  padding-top: 1em;
  padding-right: 4em;
  color: var(--heading-color);
  font-family: var(--btn-font);
  font-weight: var(--heading-variant);
  font-variant: var(--heading-variant);
  letter-spacing: 0.3rem;
}

.questions-container {
  display: flex;
  width: 55%;
  height: 40vh;
  margin-bottom: 5%;
  border-radius: 4px;
  background-color: #c8e3d4;
}

.question {
  min-width: 100%;
  min-height: 40%;
  padding: 2em;
  text-align: center;
  font-size: 1.5em;
  font-variant: var(--heading-variant);
  font-weight: 600;
}

.btn-group {
  margin-top: 5%;
  margin-bottom: 2%;
}

.answers-btn {
  margin: 0 3%;
  border-radius: 4% !important;
  font-family: var(--btn-font);
  font-size: 0.7em !important;
  opacity: 0.95;
}

.answers-btn-boolean {
  border-radius: 4%;
  font-family: var(--btn-font);
  font-size: 1.5em !important;
  opacity: 0.95;
}

/*ANIMATIONS*/

.answers-btn {
  -webkit-animation: shadow-drop-center 0.4s
    cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: shadow-drop-center 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes shadow-drop-center {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.5);
  }
}
@keyframes shadow-drop-center {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.5);
  }
}
