:root {
  --heading-size: 70px;
  --heading-color: #f4c7ab;
  --heading-weight: 700;
  --heading-variant: small-caps;
  --btn-font: "Roboto", sans-serif;
}

/**START**/

.begin,
.theme,
.difficulty,
.amount,
.start {
  min-height: 100vh;
}

.begin-title,
.start-title {
  color: #ffffff !important;
}

.begin-title,
.theme-name,
.difficulty-name,
.amount-name,
.start-title {
  text-align: center;
  padding-block: 12vh;
  color: var(--heading-color);
  font-size: var(--heading-size);
  font-weight: var(--heading-weight);
  font-variant: var(--heading-variant);
}

.begin-btn-group,
.theme-btn-group,
.difficulty-btn-group,
.amount-btn-group,
.start-btn-group {
  display: flex;
  justify-content: space-evenly;
  margin-top: 5vh;
}

.begin-btn,
.theme-btn,
.difficulty-btn,
.amount-btn,
.start-btn {
  margin-inline: 50px;
  padding: 35px 55px !important;
  border-radius: 5px !important;
  font-family: var(--btn-font);
  font-variant: small-caps;
  letter-spacing: 0.2rem;
  font-weight: var(--heading-weight);
}

.begin-btn {
  margin-top: 5vh;
  padding: 35px !important;
}

/**ANIMATIONS**/

.begin-btn-pulsate {
  -webkit-animation: begin-btn-pulsate 1.5s ease-in-out infinite both;
  animation: begin-btn-pulsate 1.5s ease-in-out infinite both;
}

@-webkit-keyframes begin-btn-pulsate {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes begin-btn-pulsate {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.start-title {
  animation: glow 2s ease-in-out infinite;
}

@keyframes glow {
  from {
    text-shadow: 0 0 20px #2d9da9;
  }
  to {
    text-shadow: 0 0 30px #34b3c1, 0 0 10px #4dbbc7;
  }
}

/**GAME**/

.game-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.questions-container {
  display: flex;
  width: 50%;
  height: 40vh;
  margin-bottom: 5%;
  border-radius: 4px;
  background-color: #c8e3d4;
}

.question {
  padding: 2em;
  text-align: center;
  font-size: 1.2em;
  font-variant: small-caps;
  font-weight: 600;
}
